---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Chi siamo';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>Chi siamo</h1>
    
    <p>
    Siamo persone interessate alla scuola, all'educazione, alla crescita della comunità. Pensiamo che sia necessario cercare gli spazi e i tempi per aprire, su questi temi, un confronto quanto più possibile ampio, serio e continuo. 
    
    Abbiamo cominciato a riflettere su questa necessità in seguito a <a href="https://www.gazzettadisiena.it/sei-giustamente-bocciati-su-18-in-una-scuola-senese-un-problema-che-diventa-sociale/">questo articolo</a> su "La Gazzetta di Siena", al quale abbiamo risposto con il seguente comunicato:
    
    <blockquote>
    <p>Un articolo recentemente apparso sulla Gazzetta di Siena ha raccontato con toni semplicistici e stigmatizzanti di sei studenti “giustamente bocciati” in una classe seconda superiore, attribuendo la responsabilità ai ragazzi e alle loro famiglie, con particolare “enfasi” su quelle di origine straniera.</br>

Ne è seguita una discussione su un social network dal tenore apertamente razzistico, sulla scia delle allusioni dell’articolo.</br>

Come docenti e persone interessate alla scuola ci preoccupa non solo il contenuto dell’articolo, ma anche il clima che esso alimenta: una narrazione che colpevolizza le marginalità sociali, alimenta l’esclusione e rafforza stereotipi pericolosi.</br>

Il tema del successo e dell’insuccesso scolastico è troppo serio per essere affrontato in questo modo superficiale e giudicante. Dietro a ogni bocciatura ci sono storie complesse, legami mancati, bisogni educativi inascoltati, su cui l’intera comunità educante dovrebbe interrogarsi. La scuola dovrebbe essere un luogo che lavora per la giustizia sociale e la crescita di tutti/e, non un filtro selettivo che riproduce disuguaglianze.</br>

Per questo sentiamo l’urgenza di riflettere pubblicamente sulla scuola che vogliamo, sui valori che devono orientarla, sui legami tra scuola e città; che è anche un modo per ragionare sulla cittadinanza.</br>

Invitiamo chiunque abbia a cuore questi temi — studenti, insegnanti, genitori, educatori, giornalisti, cittadine e cittadini — a costituire insieme una rete di confronto, solidarietà e proposta, in vista di uno o più incontri pubblici.</br>

Per aderire e partecipare al percorso che stiamo costruendo scrivici a rete.scolastica@proton.me. È il momento di riaprire la discussione pubblica sulla scuola e sulla città. 
</blockquote>    
    <p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
